body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #0056b3;
}

.inbox-controls button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.inbox-controls button:hover {
    background-color: #0056b3;
}

.email-list {
    margin-top: 20px;
    border-top: 1px solid #eee;
    padding-top: 10px;
}

.email-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden; /* Garante que o conteúdo interno não ultrapasse as bordas arredondadas */
}

.email-header {
    padding: 15px;
    cursor: pointer;
    background-color: #f0f8ff;
    transition: background-color 0.2s;
}

.email-header:hover {
    background-color: #e6f2ff;
}

.email-header strong {
    color: #0056b3;
}

.email-body {
    padding: 15px;
    border-top: 1px solid #ddd;
    background-color: #ffffff;
}

.email-body pre {
    white-space: pre-wrap; /* Quebra a linha no texto do corpo */
    word-wrap: break-word;
    margin: 0;
    font-family: inherit; /* Herda a fonte do corpo */
}


/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 500px;
    border-radius: 8px;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#composeForm input, #composeForm textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#composeForm button {
    background-color: #28a745;
    color: white;
}
